@using ScheduleSumdu.Web.Models.ViewModels;
@model ScheduleSumdu.Web.Models.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; margin-bottom: 10px;">
    <div class="next-week-div">
        <button class="next-week-button"><</button>
    </div>
    
    <div class="select-group">
        <p>Виберіть групу:</p>
        <form id="selectGroupForm" asp-antiforgery="true">
            <input class="select-group-input" type="text" id="selectGroupInput" list="listGroups" autocomplete="off">
            <datalist id="listGroups">
                @{
                    if (Model.ListGroups != null)
                    {
                        foreach(var option in Model.ListGroups)
                        {
                            <option value="@option.Value"></option>  
                        }
                    }
                }
            </datalist>
        </form>
    </div>

    <div class="next-week-div">
        <button class="next-week-button">></button>
    </div>
</div>


<div class="schedule-border text-light text-center">
    <dev id="schedule" class="schedule"></dev>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selectGroupForm').on('submit', function (e) {
                e.preventDefault();
            });

            $('#selectGroupInput').on('change', function () {
                var selectedGroup = $(this).val();
                
                if(selectedGroup != null && selectedGroup.trim() != ""){
                    $.ajax({
                        type: "POST",
                        url: "Home/GetWeek",
                        data: {
                            SelectedGroupName: selectedGroup
                        },
                        success: function (data) {
                            $('#schedule').html(data);
                        },
                        error: function (xhr, status, error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });
        });
    </script>
}