@{
    ViewData["Title"] = "Home Page";
}

<div class="schedule-border text-light text-center">
    <dev class="schedule">
        <div class="item">
            <p>Понеділок</p>
        </div>
        <div class="item">
            <p>Вівторок</p>
        </div>
        <div class="item">
            <p>Середа</p>
        </div>
        <div class="item">
            <p>Четвер</p>
        </div>
        <div class="item">
            <p>П'ятниця</p>
        </div>
        <div class="item">
            <p>Субота</p>
        </div>
        <div class="item-time">
            <div class="time-container">
                <div class="time-text">8.30</div>
                <div class="time-border"></div>
            </div>
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type lecture">
                    <p>Лекція</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type lecture">
                    <p>Лекція</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item-time">
            <div class="time-container">
                <div class="time-text">10.05</div>
                <div class="time-border"></div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
           <div class="lesson">
               <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
           <div class="lesson">
                <div class="rounded lesson-type lecture">
                    <p>Лекція</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
           <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item-time">
            <div class="time-container">
                <div class="time-text">11.40</div>
                <div class="time-border"></div>
            </div>
        </div>
        <div class="item">
           <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type lecture">
                    <p>Лекція</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item-time">
            <div class="time-container">
                <div class="time-text">14.00</div>
                <div class="time-border"></div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
           <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
           <div class="lesson">
                <div class="rounded lesson-type lecture">
                    <p>Лекція</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type lecture">
                    <p>Лекція</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item-time">
            <div class="time-container">
                <div class="time-text">15.35</div>
                <div class="time-border"></div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
            <div class="lesson">
                <div class="rounded lesson-type practice">
                    <p>Лаб</p>
                </div>
                <p class="lesson-name lesson-text">Безпека польотів літальних апаратів</p>
                <div class="text-img-block">
                    <img src="~/icons/proffesor.png" class="lesson-teacher-icon"/>
                    <p class="lesson-text">Архипов Олександр Генадійович</p>
                </div>
                <div class="text-img-block">
                    <img src="~/icons/university.png" class="lesson-teacher-icon"/>
                    <p class="lesson-room lesson-text">ТК-215</p>
                </div>
            </div>
        </div>
    </dev>
</div>
